.small-container{
    max-width: 1000px;
    margin: auto;
    padding-left: 25px;
    padding-right: 20px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.single-product {
    margin-top: 80px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
    width: 100%;
}

.single-product .col-2 img {
    padding: 0;
}

.single-product .col-2 {
    padding: 20px;
} 

.col-2 {
    flex-basis: 50%;
    margin: 25px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0 ;
}

@media  (max-width: 768px) {
    .row {
        display: flow-root;
        flex-wrap: wrap;
    }
}

@media  (max-width: 600px) {
    .row {
        display: flow-root;
        flex-wrap: wrap;
    }
}