*{
    margin: 0;
    padding: 0;
}

body{margin: 50px;}

.container{
    display: grid;
    gap: 10px;
}

.header{
  
}


.hero{
    grid-area: hero;
    min-height: 350px;
    place-content: center;
    text-align: center;

}

.features{
    justify-content: center;
}

/* nav */
.menu {
    order: -1;
    display: grid;
    grid-template-columns: 1fr ;
}

.menu .brand{
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.menu ul {
    display: grid;
    gap: 5px;
    list-style-type: none;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    
}
.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    background-color: red;
    text-transform: uppercase; 
    font-size: 0.9em;
    text-decoration: none;
    border-radius: 10px;


}

.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    position: relative;
}

.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background: red;
    border-radius: 3px;
    transition: all 0.5s;

}

.menu-toggle input{
    display: block;
    position: relative;
    background-color: black;
    width: 40px;
    height: 3px;
    left: -5px;
    top: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;

}

.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
    background-color: white;
    transform: rotate(-45deg) translate(-1px,-1px);
}

.menu-toggle input:checked ~ span:nth-child(4){
    background-color: white;
    transform: rotate(-45deg) translate(-1px,0);
}

.menu-toggle input:checked ~ span:nth-child(3){
   opacity: 0;
   transform: scale(0);
}

/* cards */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.card {
    background-color: red;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    color: white;
}

/* media-query */

@media  (max-width:1024px) {
    .menu{
        order: inherit;
        grid-template-columns: 1fr;
    }
    .menu .brand{
        display:none;
    }

    .hero > * {
        display: block;
    }
}
@media  (max-width:768px) {

    .menu{
        order: -1;
        justify-items: end;
    }
    .menu-toggle{
        display: flex;
    }

    .menu ul {
        position: absolute;
        display: flex;
        right: 0;
        height: 100vh;
        top: 0;
        background-color: red;
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 1;
        transform: translateY(-100%);
        opacity: 0;
        transition: all 1s;

    }

    nav ul.slide {
        opacity: 0;
        transform: translateY(0);
    }
}
@media  (max-width:600px) {
    .header {
        grid-template-areas: 
        'hero'
        'features-1'
        'features-2'
        ;
    }
}


.navbar{
    display: flex;
    background-color: red;
    padding: 0px 20px 0px 20px;
}
.navbar h2{margin-right: 1rem;}
.navbar h4{margin-left: 10px; margin-right: 10px; padding-top: 5px;}

button{
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    background-color: black;
    color: white; 
    cursor: pointer;
}
 .w-60{width: 30%;}
.justify-between{justify-content: space-between;}
.d-flex{display: flex;}

.text-center{text-align: center;}
.text-end{text-align: end;}


.f-xxl{font-size: 60px;}
.f-xl{font-size: 40px;}

.mr-2{margin-right: 10px;}
.mt-4 {margin-top: 20px;}

/* color-text */
.text-red{color: red;}